@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #25252b;
}

.container {
    position: relative;
    width: 750px;
    height: 450px;
    border: 2px solid #e46033;
    box-shadow: 0 0 25px #e46033;
    overflow: hidden;
    z-index: 1;
}

.container .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.form-box.Login {
    left: 0;
    padding: 0 40px;
}

.form-box.Login .animation {
    transform: translateX(0%);
    transition: .7s;
    opacity: 1;
    transition-delay: calc(.1s * var(--S));
}

.container.active .form-box.Login .animation {
    transform: translateX(-120%);
    opacity: 0;
    transition-delay: calc(.1s * var(--D));
}

.form-box.Register {
    /* display: none; */
    right: 0;
    padding: 0 60px;
}

.form-box.Register .animation {
    transform: translateX(120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--S));
}

.container.active .form-box.Register .animation {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
    transition-delay: calc(.1s * var(--li));
}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    transition: .5s;
}

/* Fix for browser autofill background */
.input-box input:-webkit-autofill,
.input-box input:-webkit-autofill:hover,
.input-box input:-webkit-autofill:focus,
.input-box input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #25252b inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom: 2px solid #e46033;
}

.input-box label {
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 14px;
    /* Slightly smaller for static label */
    color: #e46033;
    /* Always accent color or white, sticking to accent for visibility */
    transition: .5s;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label,
.input-box input:not(:placeholder-shown)~label {
    top: -5px;
    color: #e46033;
}

.input-box box-icon {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translateY(-50%);
    color: #fff;
}

.input-box input:focus~box-icon,
.input-box input:valid~box-icon {
    color: #e46033;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #e46033;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b, #e46033, #25252b, #e46033);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover:before {
    top: 0;
}

.regi-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
}

.regi-link a {
    text-decoration: none;
    color: #e46033;
    font-weight: 600;
}

.regi-link a:hover {
    text-decoration: underline;
}

.info-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-content.Login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.info-content.Login .animation {
    transform: translateX(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--S));
    opacity: 1;
    filter: blur(0px);
}

.container.active .info-content.Login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--D));
}

.info-content.Register {
    /* display: none; */
    left: 0;
    text-align: left;
    padding: 0 150px 60px 38px;
    pointer-events: none;
}

.info-content.Register .animation {
    transform: translateX(-120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10PX);
    transition-delay: calc(.1s * var(--S));
}

.container.active .info-content.Register .animation {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--li));
}

.info-content h2 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
}

.info-content p {
    font-size: 16px;
}

.container .curved-shape {
    position: absolute;
    right: 0;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(45deg, #25252b, #e46033);
    /*transform: rotate(10deg) skewY(40deg);*/
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.container.active .curved-shape {
    transform: rotate(0deg) skewY(0deg);
    transition-delay: .5s;
}

.container .curved-shape2 {
    position: absolute;
    left: 250px;
    top: 100%;
    height: 700px;
    width: 850px;
    background: #25252b;
    border-top: 3px solid #e46033;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.container.active .curved-shape2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    body {
        background: #25252b;
        padding: 20px;
    }

    .container {
        width: 100%;
        max-width: 400px;
        height: auto;
        min-height: 500px;
        border: none;
        box-shadow: none;
    }

    /* Hide the fancy overlay/info content on mobile to simplify */
    .info-content,
    .curved-shape,
    .curved-shape2 {
        display: none;
    }

    .container .form-box {
        width: 100%;
        height: auto;
        position: relative;
        padding: 30px 20px;
    }

    /* Ensure both forms are accessible? 
       Actually, the JS toggles .active on container.
       If .active is present, show Register, else Login.
    */

    .form-box.Login {
        display: flex;
    }

    .form-box.Register {
        display: flex;
        transform: none;
        /* Override standard transform */
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container.active .form-box.Login {
        opacity: 0;
        pointer-events: none;
    }

    .container.active .form-box.Register {
        opacity: 1;
        pointer-events: auto;
        transform: none;
        filter: blur(0);
    }

    /* Adjust animations to be simpler fade */
    .form-box.Login .animation,
    .form-box.Register .animation {
        transform: none !important;
        transition: opacity 0.5s ease;
    }
}